<% if logged_in? && current_user != user %>
  <div id="follow-button-for-user-<%= user.id %>" class="ms-3">
    <% if current_user.follow? user %>
      <%= render 'relationships/follow', user: user %>
    <% else %>
      <%= render 'relationships/unfollow', user: user %>
    <% end %>
  </div>
<% end %>