<header>
  <nav class="navbar navbar-dark bg-info">
    <div class="container-fluid">
      <%= link_to 'EngineerBook', root_path, class: 'navbar-brand' %>
      <%= link_to login_path do %>
        <button class="btn btn-light text-dark rounded-3">ログイン or 新規登録</button>
      <% end %>
    </div>
  </nav>
</header>