<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <%= link_to 'EngineerBook', root_path, class: 'navbar-brand' %>
      <%= link_to login_path do %>
        <button class="btn btn-success">ログイン or 新規登録</button>
      <% end %>
    </div>
  </nav>
</header>