/*****************************************
  ページ全体
******************************************/
body{
  background-color: #fafafa;
}

.fs-7{
  font-size: 14px;
}

.dropdown-toggle::after {
  display:none;
}

/*****************************************
  ヘッダー
******************************************/
header .dropdown:hover > .dropdown-menu{
  display: block;
}

header .dropdown:hover > .dropdown-menu{
  right: 0;
}

/*****************************************
  サイドバー
******************************************/
.side-link:hover{
  background-color: rgba(220,220,220,1)
}

/*****************************************
  フッター
******************************************/
.copyright{
  font-size: 14px;
  color: #555;
}

/*****************************************
  メイン
******************************************/
.card-link{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.card-link:hover{
  background-color: rgba(220,220,220,0.2);
  box-shadow: 4px 4px 10px rgba(110,110,110,0.4);
}
